[user]
	email = yiangforwork@gmail.com
	name = Yiang
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	proxy = http://127.0.0.1:7890
